absl-py==1.4.0
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
djitellopy==2.4.0
flatbuffers==23.5.8
fonttools==4.39.4
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
mediapipe==0.9.1.0
numpy==1.24.3
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
protobuf==3.20.3
pyparsing==3.0.9
python-dateutil==2.8.2
requests==2.30.0
six==1.16.0
SpeechRecognition==3.10.0
threaded==4.1.0
urllib3==2.0.2
